:root {
  --pink: #fe73b6;
  --yellow: #f7d481;
  --white: #fff;
  --black: #000;
  --gray: #f5f6f7;
  --gray-dark: #888888;
  --purple: #bf89ff;
  --pink-rgba: rgba(254, 115, 182, 1);
  --yellow-rgba: rgba(247, 212, 129, 1);
}
