body {
  margin: 0;
  font-family: "Clash Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

body > iframe {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root {
  height: 100%;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    height: 100vh;
  }
}
